/* CUSTOM VAR */
:root {
    /* Colors */
    --head-bottom-color: #2c3e50;
    --main-color: #1abc9c;
    --footer-color: #3a546d;
}

/* RESET */
html {
    font-size: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* COMMON */
body {
    color: white;
}

h1, h2, h4, h6 {
    text-transform: uppercase;
}

.ms-container {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding: 1rem 0;
}

/* HEADER */
header {
    height: 80px;
    line-height: 80px;
    background-color: var(--head-bottom-color);
}

.header-title h1{
    font-size: 1.5rem;
    line-height: 80px;
}

.header-menu li {
    display: inline-block;
}

.header-menu li a {
    text-transform: uppercase;
    color: white;
}

/* JUMBOTRON */
.jumbotron {
    text-align: center;
    background-color: var(--main-color);
}

.jumbotron img {
    width: 250px;
}

/* PORTFOLIO */
.portfolio {
    text-align: center;
    color: black;
}

.portfolio-img {
    border-radius: 10px;
    overflow: hidden;
    margin: 0.5rem 0rem;
}

/* ABOUT */
.about .container-fluid {
    background-color: var(--main-color); 
}

.ms-container .about-text {
    text-align: initial;
}

#download-button {
    padding: .5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
    color: inherit;
}

/* CONTACT ME */
.contact {
    color: black;
}

.contact .form {
    text-align: initial;
}

.contact span {
    display: block;
}

.form span::after {
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background-color: black;
}

.form span:last-child::after {
    margin-top: 5rem;
}

/* FOOTER */
footer {
    background-color: var(--footer-color);
    text-align: center;
}

.page-bottom {
    background-color: var(--head-bottom-color);
}
